construction.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="buildings" type="buildingsType"/>
  <xs:complexType name="addressType">
    <xs:sequence>
      <xs:element type="xs:string" name="street"/>
      <xs:element type="xs:string" name="city"/>
      <xs:element type="xs:string" name="region"/>
      <xs:element type="xs:string" name="country"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="workerType">
    <xs:sequence>
      <xs:element type="xs:string" name="firstName"/>
      <xs:element type="xs:string" name="lastName"/>
      <xs:element type="xs:string" name="role"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="workersType">
    <xs:sequence>
      <xs:element type="workerType" name="worker" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="equipmentType">
    <xs:sequence>
      <xs:element type="xs:string" name="type"/>
      <xs:element type="xs:string" name="qty"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="equipmentsType">
    <xs:sequence>
      <xs:element type="equipmentType" name="equipment" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supplyType">
    <xs:sequence>
      <xs:element type="xs:string" name="material"/>
      <xs:element type="xs:string" name="qty"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="suppliesType">
    <xs:sequence>
      <xs:element type="supplyType" name="supply" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buildingType">
    <xs:sequence>
      <xs:element type="xs:date" name="startDate"/>
      <xs:element type="xs:date" name="endDate"/>
      <xs:element type="addressType" name="address"/>
      <xs:element type="contractorsType" name="contractors" minOccurs="0"/>
      <xs:element type="workersType" name="workers"/>
      <xs:element type="equipmentsType" name="equipments"/>
      <xs:element type="suppliesType" name="supplies"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contractorsType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buildingsType">
    <xs:sequence>
      <xs:element type="buildingType" name="building" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>